.sidebar{
    height: 100vh;
    flex: 0.2;
    color: white;
    min-width: 230px;
    height: 100vh;
    background-color: #040404;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar__logo{
    object-fit: contain;
    height: 70px;
    margin-right: auto;
    padding: 10px;
}

.sidebar__title{
    margin-left: 10px;
    padding:5px;
    font-size: 12px;

}

